# Configuration file

"air bar" {
    I:"Air bar B"=1
    B:"Air bar Creative Enabled"=false
    I:"Air bar H"=5
    S:"Air bar Side"=right
    I:"Air bar W"=80
    I:"Air bar X"=1
    B:"Air bar XMax"=false
    I:"Air bar Y"=20
    B:"Air bar YMax"=false
    S:"Air bar anchor"=bottom_right
}


"armor bar" {
    I:"Armor bar B"=1
    B:"Armor bar Creative Enabled"=false
    I:"Armor bar H"=5
    S:"Armor bar Side"=left
    I:"Armor bar W"=80
    I:"Armor bar X"=1
    B:"Armor bar XMax"=false
    I:"Armor bar Y"=20
    B:"Armor bar YMax"=false
    S:"Armor bar anchor"=bottom_left
}


"armour bar" {
    I:"Armour H"=22
    B:"Armour Slots On"=true
    I:"Armour W"=22
    I:"Armour X"=5
    I:"Armour Y"=35
    S:"Armour alight"=vertical
    S:"Armour anchor"=top_left
}


"boss bar" {
    I:"Boss bar B"=1
    B:"Boss bar Creative Enabled"=true
    I:"Boss bar H"=4
    S:"Boss bar Side"=left
    I:"Boss bar Text Color"=16711935
    S:"Boss bar Text Side"=center
    I:"Boss bar Text X"=0
    I:"Boss bar Text Y"=6
    I:"Boss bar W"=10
    I:"Boss bar X"=0
    B:"Boss bar XMax"=true
    I:"Boss bar Y"=1
    B:"Boss bar YMax"=false
    S:"Boss bar anchor"=top_centre
}


"effects bar" {
    B:"Effects Slots On"=true
    B:"Effects Timer On"=true
    I:"Effects X"=5
    I:"Effects Y"=8
    S:"Effects alight"=horizontal
    S:"Effects anchor"=top_centre
}


"enable bars" {
    B:"Armour bar Enabled"=true
    B:"Boss Health Enabled"=true
    B:"EXP bar Enabled"=true
    B:"Health bar Enabled"=true
    B:"Horse Armor Bar Enabled"=true
    B:"Horse Health Enabled"=true
    B:"Hotbar Enabled"=true
    B:"Hunger bar Enabled"=true
    B:Overlay=false
    B:"Oxygen bar Enabled"=true
    B:"Tools Enabled"=true
}


"exp bar" {
    I:"EXP bar B"=1
    B:"EXP bar Creative Enabled"=true
    I:"EXP bar H"=4
    S:"EXP bar Side"=left
    S:"EXP bar Text"=Level: 
    I:"EXP bar Text Color"=1600000
    S:"EXP bar Text Side"=center
    I:"EXP bar Text X"=0
    I:"EXP bar Text Y"=-6
    I:"EXP bar W"=10
    I:"EXP bar X"=0
    B:"EXP bar XMax"=true
    I:"EXP bar Y"=1
    B:"EXP bar YMax"=false
    S:"EXP bar anchor"=bottom_centre
}


"health bar" {
    I:"Health bar B"=1
    B:"Health bar Creative Enabled"=false
    I:"Health bar H"=8
    S:"Health bar Side"=left
    I:"Health bar W"=80
    I:"Health bar X"=1
    B:"Health bar XMax"=false
    I:"Health bar Y"=8
    B:"Health bar YMax"=false
    S:"Health bar anchor"=bottom_left
}


"hotbar bar" {
    S:"Hotbar Alight"=horizontal
    B:"Hotbar Background On"=true
    I:"Hotbar X"=0
    I:"Hotbar Y"=8
    S:"Hotbar anchor"=bottom_centre
    I:"Slot H"=22
    I:"Slot W"=22
}


"hunger bar" {
    I:"Hunger bar B"=1
    B:"Hunger bar Creative Enabled"=false
    I:"Hunger bar H"=8
    S:"Hunger bar Side"=right
    I:"Hunger bar W"=80
    I:"Hunger bar X"=1
    B:"Hunger bar XMax"=false
    I:"Hunger bar Y"=8
    B:"Hunger bar YMax"=false
    S:"Hunger bar anchor"=bottom_right
}


itemtooltips {
    B:"ItemTooltips On"=true
    I:"ItemTooltips X"=0
    I:"ItemTooltips Y"=50
    B:"ItemTooltips allways"=false
    S:"ItemTooltips anchor"=bottom_centre
    I:"ItemTooltips color"=16777215
    I:"ItemTooltips frames"=180
    S:"ItemTooltips side"=centre
}


"mountarmor bar" {
    I:"Mountarmor bar B"=1
    B:"Mountarmor bar Creative Enabled"=true
    I:"Mountarmor bar H"=4
    S:"Mountarmor bar Side"=right
    I:"Mountarmor bar W"=80
    I:"Mountarmor bar X"=42
    B:"Mountarmor bar XMax"=false
    I:"Mountarmor bar Y"=32
    B:"Mountarmor bar YMax"=false
    S:"Mountarmor bar anchor"=bottom_centre
}


"mounthealth bar" {
    I:"MountHealth bar B"=1
    B:"MountHealth bar Creative Enabled"=true
    I:"MountHealth bar H"=4
    S:"MountHealth bar Side"=left
    I:"MountHealth bar W"=80
    I:"MountHealth bar X"=-42
    B:"MountHealth bar XMax"=false
    I:"MountHealth bar Y"=32
    B:"MountHealth bar YMax"=false
    S:"MountHealth bar anchor"=bottom_centre
}


textures {
    S:"Absorb Texture"=textures/noised_512/Yellow.png
    S:"Air Background"=textures/colors_16/GreyBlackBlack.png
    S:"Air Texture"=textures/noised_512/Cyan.png
    S:"Armor Background"=textures/colors_16/GreyBlackBlack.png
    S:"Armor Mount Background"=textures/colors_16/GreyBlackBlack.png
    S:"Armor Mount Texture"=textures/noised_512/Silver.png
    S:"Armor Texture"=textures/noised_512/Silver.png
    S:"Boss Background"=textures/colors_16/GreyBlackBlack.png
    S:"Boss Texture"=textures/noised_512/Magenta.png
    S:"EXP Background"=textures/colors_16/GreyBlackBlack.png
    S:"EXP Texture"=textures/noised_512/Lime.png
    S:"Health Background"=textures/colors_16/GreyBlackBlack.png
    S:"Health Mount Background"=textures/colors_16/GreyBlackBlack.png
    S:"Health Mount Texture"=textures/noised_512/Red.png
    S:"Health Texture"=textures/noised_512/Red.png
    S:"HotBar Background"=textures/noised_512/GreyBlack.png
    S:"HotBar Slot"=textures/noised_512/Grey.png
    S:"HotBar Slot Active"=textures/noised_512/White.png
    S:"Hunger Background"=textures/colors_16/GreyBlackBlack.png
    S:"Hunger Effect Texture"=textures/noised_512/Green.png
    S:"Hunger Texture"=textures/noised_512/Peach.png
    S:"Textures Domain"=customhud
}


"tools bar" {
    I:"Slot H"=22
    I:"Slot W"=22
    B:"Tools Clock On"=true
    B:"Tools Compass On"=true
    I:"Tools X"=5
    I:"Tools Y"=8
    S:"Tools alight"=horizontal
    S:"Tools anchor"=top_left
}


