# Configuration file

~CONFIG_VERSION: @MC@-3.0.6.21

##########################################################################################################
# loot_weights
#--------------------------------------------------------------------------------------------------------#
# Weight in the loot table, higher the number lower the chance of dropping. Zero and lower will disable the entry.
##########################################################################################################

loot_weights {
    #  [range: -1 ~ 32767, default: 10]
    I:dustAc227=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustActinium227=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAdvancedAlloy=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAluminum=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAnyPlastic=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAnyResistantAlloy=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAsbestos=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAu198=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAustralium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustBakelite=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustBeryllium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustBismuth=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustBoron=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustBronze=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustCMBSteel=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustCadmium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustCalcium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustCobalt=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustConstantan=10

    #  [range: -1 ~ 32767, default: 5]
    I:dustCopper=5

    #  [range: -1 ~ 32767, default: 10]
    I:dustCupronickel=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustDineutronium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustDraconium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustDuraSteel=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustElectrum=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustEuphemium=10

    #  [range: -1 ~ 32767, default: 15]
    I:dustGold=15

    #  [range: -1 ~ 32767, default: 10]
    I:dustGold198=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustGraphite=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustHOPGraphite=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustHardCarbon=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustInvar=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustIridium=10

    #  [range: -1 ~ 32767, default: 5]
    I:dustIron=5

    #  [range: -1 ~ 32767, default: 10]
    I:dustLanthanum=10

    #  [range: -1 ~ 32767, default: 8]
    I:dustLead=8

    #  [range: -1 ~ 32767, default: 10]
    I:dustLithium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustLithiumManganeseDioxide=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustLumium=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustMagnesium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustMagnesiumDiboride=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustMagnetizedTungsten=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustMingrade=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustMithril=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustNeptunium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustNeptunium237=10

    #  [range: -1 ~ 32767, default: 8]
    I:dustNickel=8

    #  [range: -1 ~ 32767, default: 10]
    I:dustNiobium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustNp237=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustOsmium=10

    #  [range: -1 ~ 32767, default: 18]
    I:dustPlatinum=18

    #  [range: -1 ~ 32767, default: 10]
    I:dustPlutonium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustPo210=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustPolonium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustPolonium210=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustPolymer=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustRa226=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustRadium226=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustSchrabidate=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustSchrabidium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustSignalum=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustSilicon=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustSilver=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustSr90=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustSteel=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustStrontium90=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTantalum=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTcAlloy=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTh232=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustThorium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustThorium232=10
    I:dustThoriumOxide=10

    #  [range: -1 ~ 32767, default: 5]
    I:dustTin=5

    #  [range: -1 ~ 32767, default: 10]
    I:dustTitanium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTitaniumAluminide=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTitaniumIridium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTough=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTungsten=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustUranium=10
    I:dustUraniumOxide=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustWorkersAlloy=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustZirconium=10
}


