# Configuration file

General {
    # This allows you to disable recipes for Florbs. It also means that you actively dislike fun things.
    B:Recipe.Enable=true
}


Whitelist {
    B:acid_fluid=true
    B:aerotheum=true
    B:aluminum.molten=true
    B:aluminumbrass.molten=true
    B:alumite.molten=true
    B:ardite.molten=true
    B:"atomicscience:contaminated_mineral_water"=true
    B:"atomicscience:contaminated_water"=true
    B:"atomicscience:mineral_waste"=true
    B:"atomicscience:uranium_hexafluoride"=true
    B:bioethanol=true
    B:biofuel=true
    B:biomass=true
    B:blood=true
    B:bronze.molten=true
    B:canolaoil=true
    B:chocolatemilk=true
    B:cloud_seed=true
    B:cloud_seed_concentrated=true
    B:coal=true
    B:cobalt.molten=true
    B:cold_water=true
    B:copper.molten=true
    B:corium_fluid=true
    B:creosote=true
    B:cryotheum=true
    B:densesteam=true
    B:diesel=true
    B:electrum.molten=true
    B:emerald.liquid=true
    B:ender=true
    B:enderium.molten=true
    B:fire_water=true
    B:fluidberylium=true
    B:fluidcalcium=true
    B:fluidcalciumcarbonate=true
    B:fluidchlorite=true
    B:fluiddeuterium=true
    B:fluidglyceryl=true
    B:fluidhelium=true
    B:fluidhelium3=true
    B:fluidheliumplasma=true
    B:fluidhydrogen=true
    B:fluidlithium=true
    B:fluidmercury=true
    B:fluidmethane=true
    B:fluidnitrocoalfuel=true
    B:fluidnitrofuel=true
    B:fluidnitrogen=true
    B:fluidnitrogendioxide=true
    B:fluidpotassium=true
    B:fluidsilicon=true
    B:fluidsodium=true
    B:fluidsodiumpersulfate=true
    B:fluidtritium=true
    B:fluidwolframium=true
    B:for.honey=true
    B:fuel=true
    B:fusionplasma=true
    B:glass=true
    B:glass.molten=true
    B:glowstone=true
    B:glue=true
    B:gold.molten=true
    B:hootch=true
    B:hot_water=true
    B:hydrogen=true
    B:ic2biogas=true
    B:ic2biomass=true
    B:ic2constructionfoam=true
    B:ic2coolant=true
    B:ic2distilledwater=true
    B:ic2hotcoolant=true
    B:ic2hotwater=true
    B:ic2pahoehoelava=true
    B:ic2steam=true
    B:ic2superheatedsteam=true
    B:ic2uumatter=true
    B:ice=true
    B:invar.molten=true
    B:iron.molten=true
    B:juice=true
    B:lava=true
    B:lead.molten=true
    B:liquid_sunshine=true
    B:liquidhelium=true
    B:lumium.molten=true
    B:mana=true
    B:manyullyn.molten=true
    B:mead=true
    B:meat=true
    B:milk=true
    B:mithril.molten=true
    B:mobessence=true
    B:mud_fluid=true
    B:mushroomsoup=true
    B:nickel.molten=true
    B:nitrogen=true
    B:nutrient_distillation=true
    B:obsidian.molten=true
    B:oil=true
    B:oxygen=true
    B:petrotheum=true
    B:pigiron.molten=true
    B:pinkslime=true
    B:platinum.molten=true
    B:pyrotheum=true
    B:rad_lava_fluid=true
    B:redmetal.molten=true
    B:redplasma=true
    B:redstone=true
    B:redstone.molten=true
    B:redwater=true
    B:refinedfuel=true
    B:rocket_fuel=true
    B:rocketfuel=true
    B:schrabidic_fluid=true
    B:seedoil=true
    B:sewage=true
    B:short.mead=true
    B:signalum.molten=true
    B:silver.molten=true
    B:slime.blue=true
    B:sludge=true
    B:steam=true
    B:steel.molten=true
    B:stone.seared=true
    B:sulfuric_acid_fluid=true
    B:superdensesteam=true
    B:syngas=true
    B:tin.molten=true
    B:toxic_fluid=true
    B:toxic_waste=true
    B:volcanic_lava_fluid=true
    B:water=true
    B:witchwater=true
}


